div.parent {
    border: solid;
    width: 200px;
    height: auto;
    margin-left: 10px;
    position: relative;
}

.flex-container {
    display: flex;
}


.text {
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}

.image {
    position: relative;
    margin: auto;
}

